<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.labourmanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LabourManagement">
        <activity
            android:name=".admin_view_info_page"
            android:exported="false" />
        <activity
            android:name=".labour_jobs_available_page"
            android:exported="false" />
        <activity
            android:name=".labour_job_alert_page"
            android:exported="false" />
        <activity
            android:name=".landlord_notify_page"
            android:exported="false" />
        <activity
            android:name=".landloard_view_attendance_second_page"
            android:exported="false" />
        <activity
            android:name=".landlord_take_attendance_page"
            android:exported="false" />
        <activity
            android:name=".admin_add_labour_page"
            android:exported="false" />
        <activity
            android:name=".landlord_update_page"
            android:exported="false" />
        <activity
            android:name=".admin_delete_page"
            android:exported="false" />
        <activity
            android:name=".landlord_search_page"
            android:exported="false" />
        <activity
            android:name=".labour_update_page"
            android:exported="false" />
        <activity
            android:name=".labour_personal_info_page"
            android:exported="false" />
        <activity
            android:name=".labour_dashboard_page"
            android:exported="false" />
        <activity
            android:name=".landloard_view_attendance_first_page"
            android:exported="false" />
        <activity
            android:name=".landloard_personal_info_page"
            android:exported="false" />
        <activity
            android:name=".landlord_dashboard"
            android:exported="false" />
        <activity
            android:name=".admin_add_page"
            android:exported="false" />
        <activity
            android:name=".admin_dashboard"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>